<!DOCTYPE html>
<html>
  <head>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <link rel='import' href='/polymer/polymer.html'>
    <link rel='import' href='/star-wars-generator/character-page.html'>

    <script src="/webcomponentsjs/webcomponents-lite.min.js" async></script>

  </head>
  <body>

    <character-page></character-page>
  </body>
</html>
